# Dependencies
node_modules
npm-debug.log*

# Build
.next
out

# Docker
docker-compose*.yml
Dockerfile*
.dockerignore

# IDE & OS
.vscode
.idea
*.swp
.DS_Store

# Git
.git
.gitignore

# Dev tools
.env.local
.env.development

# Docs
README.md
*.md
!package.json
